body {
  background: #202838;
  padding: 10px;
}

.widget {
  box-shadow:1px 1px 1px #aaaaaa;
  background-color: white;
  opacity: 0.75;
  border: 1px solid white;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
}