<%if(title){%>
  <div class="title"><%=title%></div>
<%}%>
<div class="colorpicker">
</div>
<div class="preview">
    <div class="container">
        <div class="de">
            <div class="den humiture">
              <div class="dene">
                <div class="denem">
                  <div class="deneme humiture-wrap"><w class="humiture-text"><%if(status[0]!='-'){%><%=$splitNumber(status[0], 1)[0]%><%}%></w><span></span><strong>%</strong>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="clf"></div>