<%if(title){%>
  <div class="title"><%=title%></div>
<%}%>
<div class="colorpicker">
  <canvas class="picker" width="200" height="200"></canvas>
</div>
<div class="preview">
  <div>
    <label>R</label>
    <input type="text" class="rPrev" style="background-color:rgba(<%=status[0]%>,0,0,1)"/>
  </div>
  <div>
    <label>G</label>
      <input type="text" class="gPrev" style="background-color:rgba(0,<%=status[1]%>,0,1)"/>
  </div>
  <div>
    <label>B</label>
      <input type="text" class="bPrev" style="background-color:rgba(0,0,<%=status[2]%>,1)"/>
  </div>
</div>
<div class="clf"></div>
<div class="controls">
    <input type="hidden" class="rVal" value="<%=status[0]%>"/>
    <input type="hidden" class="gVal" value="<%=status[1]%>"/>
    <input type="hidden" class="bVal" value="<%=status[2]%>"/>
</div>
<span class="btn btn-refresh">REFRESH</span>
<span class="btn btn-set">SET</span>
<div class="clf"></div>