/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(http://fonts.gstatic.com/s/dosis/v4/VK-RlLrn4NFhRGqPkj6IwBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(http://fonts.gstatic.com/s/dosis/v4/RPKDmaFi75RJkvjWaDDb0nYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://fonts.gstatic.com/s/dosis/v4/3isE9muMMOq1K7TQ7HkKvIDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://fonts.gstatic.com/s/dosis/v4/oaBFj7Fz9Y9_eW3k9Jd9X6CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/s/dosis/v4/NI3uVO_o2Ursx6Z1Lyy3oRkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/s/dosis/v4/mAcLJWdPWDNiDJwJvcWKc3YhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(http://fonts.gstatic.com/s/dosis/v4/yeSIYeveYSpVN04ZbWTWghkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(http://fonts.gstatic.com/s/dosis/v4/O6SOu9hYsPHTU43R17NS5XYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.widget[iotb-widget="humiture"] .container { 
  width: 100%;
  display:-webkit-box;
  -webkit-box-align:center;
  -webkit-box-pack:center;
  margin: 20px auto; 
}
.widget[iotb-widget="humiture"] .de .den, .widget[iotb-widget="humiture"] .de .dene, .widget[iotb-widget="humiture"] .de .denem, .widget[iotb-widget="humiture"] .de .deneme { 
  position: absolute;  
  left: 50%; 
  top: 50%; 
}
.widget[iotb-widget="humiture"] .de {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  background-color: transparent;
}
.widget[iotb-widget="humiture"] .den {
  position: relative;
  width: 210px;
  height: 210px;
  margin: -105px 0 0 -105px;
  border-radius: 100%;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, .5), 0 2px 20px rgba(255, 255, 255, 1);
  background: #df3341;
  background: -moz-linear-gradient(left, #df3341 0%, #d4f355 50%, #61c0ec 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#df3341), color-stop(50%,#d4f355), color-stop(100%,#61c0ec));
  background: -webkit-linear-gradient(left, #df3341 0%,#d4f355 50%,#61c0ec 100%);
  background: linear-gradient(to right, #df3341 0%,#d4f355 50%,#61c0ec 100%);
  position:relative;
}
.widget[iotb-widget="humiture"] .den.hygrometer{
  background: #777;
  background: -moz-linear-gradient(left, #61c0ec 0%, #d4f355 50%, #61c0ec 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#61c0ec), color-stop(50%,#d4f355), color-stop(100%,#61c0ec));
  background: -webkit-linear-gradient(left, #777 30%,#FFF 50%,#777 70%);
  background: linear-gradient(to right,#6187EC 0,#55F3D0 50%,#61ACEC 100%);
}
.widget[iotb-widget="humiture"] .dene {
  width: 180px;
  height: 180px;
  margin: -90px 0 0 -90px;
  border-radius: 100%;
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, .4), 0 3px 13px rgba(0, 0, 0, .85);
  background: #f2f6f5;
  background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
  background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
}
.widget[iotb-widget="humiture"] .denem {
  width: 160px;
  height: 160px;
  margin: -80px 0 0 -80px;
  border-radius: 100%;
  background: #cbd5d6;
  background: -moz-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd5d6), color-stop(100%, #f2f6f5));
  background: -webkit-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
}

.widget[iotb-widget="humiture"] .deneme {
  width: 160px;
  height: 160px;
  display: inline-block;
  margin: -50px 0 0 -90px;
  color: #555;
  text-shadow: 1px 1px 1px white;
  font-family: 'Dosis';
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  right:12pxï¼›
}
.widget[iotb-widget="humiture"] .deneme strong { 
  position: absolute; 
  right: 5x; 
  top: 50px; 
  font-size: 34px; 
}
