/* colorpicker styles */
.widget[iotb-widget="led"] .colorpicker {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 12px;
    width: 200px;
    margin: 10px;
    float: left;
}
.widget[iotb-widget="led"] .picker {
    cursor: crosshair;
    border: 0;
}
.widget[iotb-widget="led"] .controls {
    margin: 10px;
}
.widget[iotb-widget="led"] .preview {
    float: right;
    margin: 50px 10px;
}
.widget[iotb-widget="led"] .preview > div{
    margin-top: 20px;
}
.widget[iotb-widget="led"] .controls > div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}
.widget[iotb-widget="led"] .controls label {
    float: left;
}
.widget[iotb-widget="led"] .controls > div input{
    border: 1px solid #2F2F2F;
    color: #DDDDDD;
    float: right;
    font-size: 10px;
    height: 14px;
    margin-left: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
}
.widget[iotb-widget="led"] .preview > div input {
    background-color: #CCC;
    width: 10px;
    height: 10px;
    text-align: center;
    border: 0;
}
.widget[iotb-widget="led"] .btn {
    margin: 0 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    line-height: 30px;
    text-align: center;
}
.widget[iotb-widget="led"] .btn-refresh {
    float: left;
    margin-bottom: 10px;
    background: rgba(48, 113, 169, 0.78);
}
.widget[iotb-widget="led"] .btn-set {
    float: right;
    margin-right: 10px;
    background: rgba(200, 113, 169, 0.78);
}

.widget[iotb-widget="led"] {
  color: black;
}

.widget[iotb-widget="led"] .text {
  margin-top: 4px;
}
