.widget[iotb-widget="plug"] {
  height: 50px;
}

.widget[iotb-widget="plug"] .plug-wrap { 
  position:absolute; 
  right: 10px;
  top: 5px;
  width:33.33%;  
  display: inline-block;
}

.widget[iotb-widget="plug"] .plug-title{
  display: inline-block;
  color: #61c0ec;
  font-size: 18px;
  line-height: 50px;
  height: 50px;
  margin: 0 10px;
  font-weight: bold;
}

[class*="slider-"] { display:none }

.slider-v1 + label {
  position: relative;
  display: block;
  width: 5.5em;
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  background: #ddd;
  box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, 0.4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);
}

.slider-v1 + label::before {
  position: absolute;
  content: '';
  width: 2em;
  height: 2em;
  top: 0.5em;
  left: 0.5em;
  border-radius: 50%;
  background: #f5f5f5;
  box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0.5em 0.3em -0.1em rgba(0, 0, 0, 0.25);
}

.slider-v1 + label::after {
  position: absolute;
  content: '';
  width: 1em;
  height: 1em;
  top: 1em;
  left: 6em;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), -7.25em 0 0 -0.25em rgba(0, 0, 0, 0.3);
}

.slider-v1:checked + label::after {
  background: #4c6;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7), -7.25em 0 0 -0.25em rgba(0, 0, 0, 0.12);
}

.slider-v1:checked + label::before {
  left: 3em;
}
