/*
 *  * An animated progress circle, by Jonatan Littke (littke.com). Use as you wish.
 *   */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }

}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.widget[iotb-widget="pm25"] .container {
  padding: 20px;
}
.widget[iotb-widget="pm25"] .progress-circle-container {
  position: relative;
  height: 230px;
  width: 230px;
  margin: 0 auto;
}
.widget[iotb-widget="pm25"] .progress-circle-container .progress-circle-outer {
  background-color: #faef85;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(0deg, #d66f0f, #faef85);
  background-image: -webkit-linear-gradient(0deg, #d66f0f, #faef85);
  background-image: -o-linear-gradient(0deg, #d66f0f, #faef85);
  background-image: linear-gradient(0deg, #d66f0f, #faef85);
  width: 230px;
  height: 230px;
  position: absolute;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation: rotate 2.2s infinite linear;
  -moz-animation: rotate 2.2s infinite linear;
  -o-animation: rotate 2.2s infinite linear;
  animation: rotate 2.2s infinite linear;
  -webkit-box-shadow: inset 0 2px 10px #d58513, inset 0 0 20px #b93d00, 0 0 15px rgba(216, 140, 23, 0.25);
  -moz-box-shadow: inset 0 2px 10px #d58513, inset 0 0 20px #b93d00, 0 0 15px rgba(216, 140, 23, 0.25);
  box-shadow: inset 0 2px 10px #d58513, inset 0 0 20px #b93d00, 0 0 15px rgba(216, 140, 23, 0.25);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
.widget[iotb-widget="pm25"] .progress-circle-container .progress-circle-outer.animate {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
.widget[iotb-widget="pm25"] .progress-circle-container .progress-circle-inner {
  height: 170px;
  width: 170px;
  margin: 0 auto;
  position: absolute;
  left: 30px;
  top: 30px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  background-color: #ebeae5;
  -webkit-box-shadow: inset 0 2px 1px #ffffff, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 1px #ffffff, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 1px #ffffff, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.widget[iotb-widget="pm25"] .progress-circle-container .progress-circle-inner .number,
.widget[iotb-widget="pm25"] .progress-circle-container .progress-circle-inner .unit {
  line-height: 165px;
  color: #d77515;
  font-size: 60px;
  font-weight: normal;
  text-shadow: 0 -1px 1px #a15711, 0 1px 1px #ffffff;
}
.widget[iotb-widget="pm25"] .progress-circle-container .progress-circle-inner .number {
}
.widget[iotb-widget="pm25"] .progress-circle-container .progress-circle-inner .unit {
  font-size: 18px;
  text-shadow: 0 1px 1px white;
  position: absolute;
  top:38px;
  left: 50%;
}

